

.section {
    text-align: center;
    padding: 0px;
    background: #20232a;
    color: white;
    gap: 20px;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.visible{
    opacity: 1;
    transform: translateX(0);
}


.section-card-link {
    text-decoration: none;
    color: inherit; 
    display: block; 
}

.section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates a responsive number of column tracks */
    grid-template-rows: minmax(100px, auto);
    gap: 20px; /* Adjust the gap as necessary */
    align-items: stretch;
}

.section-card {
    display: flex;
    flex-direction: row;
    background: #333;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    padding: 20px;
}

.section-card.visible {
    opacity: 1;
    transform: translateX(0);
}

.section-card:hover {
    transform: translateX(0) translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.section-content{
    overflow: hidden;
}


.experience-image{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}


.project-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.NavBar {
    display: flex;
    justify-content: space-around; /* This will space your buttons evenly */
    align-items: center;
    padding: 1rem 0;
}

.NavBar button {
    background: none;
    border: none;
    color: #fff; /* Use a color that stands out against your navbar background */
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.NavBar button:hover {
    color: #3498db; /* Change color on hover for a nice effect */
    text-decoration: underline;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Adjust the max-width as needed */
    width: 100%;
    margin: 0 auto;
}

.text-content {
    flex: 1;
    padding-right: 2rem; /* Add some padding between text and image */
}

.image-content {
    flex: 1;
    text-align: right; /* Align the image to the right */
}

.image-content img {
    max-width: 50%; /* Adjust the size of the image */
    height: auto;
    border-radius: 10px; /* Optional: to add rounded corners to the image */
}

.tab {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  
  .tab-button {
    background: none;
    border: none;
    color: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .tab-button:hover,
  .tab-button.active {
    color: #3498db; /* Active tab and hover color */
  }
  
  .tab-content {
    background: #424949; /* Slightly different background for content */
    padding: 1rem;
    border-radius: 8px;
  }

.header {
    font-size: 45px;
}