.section {
    text-align: center;
    padding: 50px;
    background: #20232a;
    color: white;
}

.work-experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.work-experience-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
    width: calc(50% - 20px); /* For 2 per row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: popIn 0.5s ease forwards;
}

.work-experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.company-logo {
    /* Assuming a square logo */
    width: 100px; /* Set this to the size you want */
    height: 100px; /* Set this to the size you want */
    margin-right: 20px;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the logo covers the area */
    background: #eee; /* Placeholder background color */
}
  
.work-experience-info {
    padding: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .work-experience-card {
        flex-direction: column;
        text-align: center;
    }

    .company-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
}